.hero-section {
  width: 100%;
  //   height: calc(100vh - 124px);

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  .buynow-btn {
    button {
      background-color: transparent;
      color: #fff;
      border: 2px solid rgba(255, 255, 255, 0.2);
      padding: 20px 50px;
      border-radius: 20px;
      font-weight: 700;

      &:hover {
        background-color: rgb(var(--green-color));
      }
    }
  }
}
