.landing {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  line-height: 28px;
  // background-color: rgb(var(--landing-primary-color));
  background: radial-gradient(#1b3654, rgb(var(--landing-primary-color)));
  color: rgb(var(--landing-text-default));

  .purchase-btn {
    background: linear-gradient(
      251deg,
      #5560ff 0%,
      rgb(var(--green-color)) 100%
    );
    border-radius: 50px;
    color: #fff;
    button {
      padding: 5px 16px;
      background-color: transparent;
      color: #fff;
    }
  }
}

.section {
  &.section1,
  &.section2 {
    background-color: #001232;

    .demo-card-wrapper {
      position: relative;
      // width: 540px;
      // height: 540px;
      @include cardShadow;

      &::before {
        @include cardAfterBefore(10px, 10px, -10px);
      }

      &::after {
        @include cardAfterBefore(20px, 20px, -20px);
      }

      .demo-card {
        position: relative;
        width: 100%;
        // height: 540px;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          .view-demo {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
          }
        }

        .view-demo {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgb(var(--green-color));
          padding: 15px 0;
          text-align: center;
          transform: translateY(60px);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  &.section2 {
    background-color: unset;
  }
  &.section3 {
    background-color: #031637;
  }
}

.features-images {
  background-image: url(https://softivuslab.com/html/critox/assets/images/core/core-bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
